.container {
    width: fit-content;
}

.button {
  --button-color: var(--accent); // Default value, will be overridden by inline style
  background-color: var(--button-color);
  color: var(--background);
  border: none;
  padding: .5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem; // Default value, will be overridden by inline style

  display: flex;
  align-items: center;

  i {
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: rgba(0,0,0, 0);
    transform: scale(1.02);
    box-shadow: 0 0 0 2px var(--button-color);
    color: var(--button-color);

    i {
      color: var(--button-color);
    }
  }
}
